body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.results{
width: 250px;
text-align: center;
}


button{
border-radius: 8px;
font-size: 18px;
}